* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;

  background: transparent;

  font-family: inherit;

  text-decoration: none;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

:root {
  --clr-bg: hsl(30, 38%, 92%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-button: hsl(158, 36%, 37%);
  --clr-text-dark: hsl(212, 21%, 14%);
  --clr-text: hsl(228, 12%, 48%);
}

body {
  background-color: var(--clr-bg);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--clr-text);
  padding: 2rem 1rem;
}

main {
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  background-color: var(--clr-white);
}

.img_container {
  overflow: hidden;
  margin-bottom: 1.5em;
}

img {
  max-width: 100%;
  overflow: hidden;
}

h2 {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 0.5em;
  margin-bottom: 0.75em;
}

h1 {
  font-family: "Fraunces", sans-serif;
  font-size: 2em;
  color: var(--clr-text-dark);
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 1em;
}

section {
  padding: 0 2em 2em;
}

p {
  line-height: 1.75em;
  margin-bottom: 1.2em;
}

.price_container {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.discounted_price {
  font-family: "Fraunces", sans-serif;
  font-size: 2em;
  color: var(--clr-button);
  font-weight: 700;
  margin-right: 1.1em;
}

.original_price {
  text-decoration: line-through;
}

button {
  width: 100%;
  border-radius: 0.75rem;
  padding-block: 1em;
  background-color: var(--clr-button);
  color: var(--clr-white);
  font-size: 1em;
  font-weight: 700;
}

button span {
  padding-left: 0.75em;
}

button:hover {
  background-color: var(--clr-text-dark);
}

footer {
  position: fixed;
  bottom: 8px;
  width: 50vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
}

@media (max-width: 375px) {
  img {
    border-radius: 0.75rem 0.75rem 0 0;
  }
}

@media (min-width: 376px) {
  main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    width: 600px;
  }
  .img_container {
    min-width: 50%;
    margin-bottom: 0;
  }
  img {
    border-radius: 0.75rem 0 0 0.75rem;
    min-height: 100%;
  }
  h2 {
    margin: 2.5em 0;
  }

  h1 {
    font-size: 2.5em;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
